/* TABLES */
table{

    margin: 8px 0px;

    &.wrapped{
        border: 1px solid $color-light-gray;
    }

    &.cells{
        td, th{
            border: 1px solid $color-light-gray;
        }
    }

    &.open{
        border: none;
    }

    &.separated{
        td, th{
            border-bottom: 1px solid $color-light-gray;
        }
    }

    td, th{
        padding: 8px;
    }

    th{
        background: $color-accent;
        color: $color-light;
    }

    &.striped{
        tr:nth-child(odd){
            background-color: $color-light;
            color: $color-dark;
        }
    }

    &.highlight{
        tr:nth-child(odd):hover{
            background-color: $color-light-gray;
        }

        tr:nth-child(even):hover{
            background-color: lighten($color-base, 6%);
        }
    }
    
}