* {
    outline-color: $color-accent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    font-family: $base-font;
}

html, body, section, menu, summary, footer, header, article, aside, details{
    color: $color-base-text;
    background-color: $color-base;
}

@media (max-width: $tablet-portrait-above+(-1) ){
    .container {
        position: relative;
        width: 94%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 20px;
        box-sizing: border-box; 
      }
}

@media (min-width: $tablet-portrait-above ){
    .container {
        position: relative;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 20px;
        box-sizing: border-box; 
      }
}


a{
    text-decoration: none;
    &:link, &:visited{
        color: $color-link;
    }

    &:link:hover, &:visited:hover{
        color: darken($color-link, 10%);
    }
}

pre{
    padding: 8px;
    background-color: darken($color-base, 10%);
    color: $color-base-text;
    border: 1px solid $color-light-gray;
    font-size: $font-medium;
    margin: 8px 0px;
    white-space: pre-wrap;
}

.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.btn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html{
    scroll-behavior: smooth;
}