/** CARD **/

.card{
    @if(is-dark($color-base)){
        box-shadow: 0px 0px 4px 4px darken($color-base, 30%);
    }
    @else{
        box-shadow: 0px 0px 12px 4px darken($color-base, 15%);
    }
    padding: 8px;
    background-color: lighten($color-base, 2%);
    height: 250px;
    margin: 8px;
}

.box{
    border: 1px solid $color-light-grey;
    padding: 8px;
    height: 250px;
    margin: 8px;
}

.hoverable:hover{
    @if(is-dark($color-base)){
        box-shadow: 0px 0px 4px 4px darken($color-base, 30%);
    }
    @else{
        box-shadow: 0px 0px 12px 4px darken($color-base, 15%);
    }
}