@mixin dropdown {
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 16px;
        z-index: 1;
    
        .dropdown-title{
            @include uppercase;
            font-size: $font-medium;
            display: inline-block;
            padding: 8px;
            color: $color-link-nav;
            background-color: $color-primary;
            padding-left: 0px;
            cursor: pointer;
    
            &:hover{
                color: lighten($color-link-nav,10%)
            }
    
            i {
                border: solid darken($color-link-nav, 10%);
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                margin-bottom: 3px;
                margin-left: 8px;
              }
        }
    
        .dropdown-content{
            display: none;
            position: absolute;
            background-color: $color-accent;
            min-width: 120px;
            transition-duration: 0.3s;
            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
            z-index: 1;
            margin-top: 0px;
        
            a{
                list-style-type: none;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                color: $color-accent-text;
                margin-left: 0px;
                text-align: left;
                text-transform: initial;
            }
        
            a:hover{
                background-color: darken($color-accent, 4%);
            }
        
            a:last-child{
                margin-right: 0px;
            }
        
        }
    
        &:hover .dropdown-content{
            display: block;
        }
      }
}