.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: $color-base;
    padding: 0px 8px;
    visibility: hidden;
    @if(is-dark($color-base)){
       box-shadow: 0px 5px 16px 2px darken($color-base, 20%);
    }
    @else{
       box-shadow: 0px 5px 16px 2px #555;
    }
    z-index: 5000;
    min-height: 200px;
    height: auto;

    @media (max-width: $tablet-portrait-above+(-1)){
        width: 85vw;
    }

    @media (min-width: $tablet-portrait-above) and (max-width: $tablet-landscape-above+(-1)){
        width: 55vw;
    }

    @media (min-width: $tablet-landscape-above){
        width: 40vw;
    }
    overflow-y: auto;
    
    .modal-header{
        padding: 16px 8px;
        font-size: $font-h4;
        color: $color-base-text;
        background: $color-base;
    }

    .modal-header-fixed{
        @extend .modal-header;
        margin-top: 0px;
        position: sticky;
        top: 0;
    }
    
    .modal-content{
        margin: 8px;
        min-height: 84px;
    }
    
    .modal-footer{
        // border-top: 1px solid #999;
    }

    .modal-footer-fixed{
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $color-base;
    }


    .modal-close{
    
    }
}

.modal-bottom{

    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: $color-base;
    min-height: 300px;
    max-height: 50vh;
    @if(is-dark($color-base)){
       box-shadow: 0px 5px 16px 2px darken($color-base, 20%);
    }
    @else{
       box-shadow: 0px 5px 16px 2px #555;
    }
    z-index: 5000;
    visibility: hidden;

    .modal-close{
    
    }
    .modal-header{
        padding: 16px 16px 0px 16px;
        font-size: $font-h4;
        color: $color-base-text;
        background: $color-base;
    }

    .modal-header-fixed{
        @extend .modal-header;
        margin-top: 0px;
        position: sticky;
        top: 0;
    }
    
    .modal-content{
        margin: 16px;
        min-height: 134px;
    }

    .modal-footer{
        // border-top: 1px solid #999;
    }

    .modal-footer-fixed{
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $color-base;
        padding: 16px;
    }

}

.modal-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 4999;
    background: black;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}