// @import "../../main.scss";

.sidenav{
    @if(is-dark($color-primary)){
        background: darken($color-primary, 5%);
    }
    @else{
        background: lighten($color-primary, 5%);
    }
    position: fixed;
    padding: 24px;
    visibility: hidden;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $color-primary-text;
    a{
        border: none;
        color: $color-primary-text;
        font-size: $font-h5;
        text-transform: uppercase;
        line-height: $font-h5*2.5;
        display: block;
        font-weight: 300;
        padding-bottom: 0px;

        &:hover{
            color: lighten($color-primary-text, 10%);
            border: none;
        }
    }
}

.close-trigger{
    @if(is-dark($color-primary)){
        box-shadow: 5px 5px 4px darken($color-primary, 10%);
    }
    @else{
        box-shadow: 5px 5px 4px lighten($color-primary, 10%);
    }
    margin: 16px;
}