/** UTILITY **/

.left{ float: left; }

.right{ float: right; }

.right-align{ text-align: right; }

.left-align{ text-align: left; }

.center{ text-align: center; vertical-align: middle; }

.responsive{ overflow-x: auto; }

.clearfix{ @include clearfix; }

.inline-block {display: inline-block; }

.transparent {background-color: unset;}

.hidden {visibility: hidden;}

.visible {visibility: visible;}

.display-none {display: none; }

.display-block {display: block; }

.primary {background-color: $color-primary;}
.secondary {background-color: $color-secondary;}
.accent {background-color: $color-accent;}
.primary-text {color: $color-primary-text;}
.secondary-text {color: $color-secondary-text;}
.accent-text {color: $color-accent-text;}
.warning {background-color: rgb(236, 63, 0); &:hover {background-color: darken(rgb(236,63,0),4%);}};
.warning-text {color: white};

.shadow{
    box-shadow: 0px 4px 8px -2px darken($color-base, 30%);
}

.only-phone{
    @media (min-width: $tablet-portrait-above) {
        display: none;
    }
}

.above-tablet-portrait{
    @media (max-width: ($tablet-portrait-above)+(-1)){
        display: none;
    }
}

.below-tablet-landscape{
    @media (min-width: ($tablet-landscape-above)){
        display: none;
    } 
}

.above-tablet-landscape{
    @media(max-width: ($tablet-landscape-above)+(-1)){
        display: none;
    }
}

.below-desktop{
    @media (min-width: ($desktop-above)){
        display: none;
    } 
}

.above-desktop{
    @media(max-width: ($desktop-above)+(-1)){
        display: none;
    }
}

.below-desktop-large{
    @media (min-width: ($desktop-large-above)){
        display: none;
    } 
}

.above-desktop-large{
    @media(max-width: ($desktop-large-above)+(-1)){
        display: none;
    }
}