/* BASE */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  outline-color: #a56838; }

html * {
  font-family: "Noto Sans JP"; }

/* MEYER RESET + BASE EXTENSIONS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  vertical-align: baseline; }

html, body, section, menu, summary, footer, header, article, aside, details {
  color: #111;
  background-color: #EFE8D5; }

button {
  all: unset;
  cursor: pointer; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #006fcf; }
  a:link:hover, a:visited:hover {
    color: #00549c; }

pre {
  padding: 8px;
  background-color: #e1d4b0;
  color: #111;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin: 8px 0px;
  white-space: pre-wrap; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  list-style-position: inside; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* PARTIALS (keep the ones you need) */
/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  margin: 8px 0px;
  font-weight: 400; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.7rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

p {
  margin: 8px 0px;
  font-size: 1.05rem;
  line-height: 1.4rem; }

code {
  font-family: monospace; }

/** BLOCKQUOTE **/
blockquote {
  padding: 16px;
  background: #EFE8D5;
  color: #111;
  border: 1px solid #111;
  font-size: 1rem;
  border-left: 8px solid #82a09f;
  border-radius: 4px; }

/* SKELETON CSS GRID */
.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.row {
  margin-top: 8px;
  margin-bottom: 8px; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
/* BUTTONS */
.btn {
  border-radius: 4px;
  color: #111;
  background-color: #c0ad67;
  padding: 12px 22px;
  border: 1px solid #aaa; }
  .btn:hover {
    background-color: #ad9747; }

.btn.btn-outline {
  background-color: #fff;
  color: #64582a;
  border: 1px solid #c0ad67; }
  .btn.btn-outline:hover {
    background-color: whitesmoke; }

.btn-small {
  padding: 8px 18px; }

.btn-large {
  padding: 16px 26px; }

.btn-float {
  box-shadow: 0 5px 5px -5px #333; }
  .btn-float:hover {
    box-shadow: 0px 0px 0px; }

.btn-light {
  color: #111;
  background-color: #fff; }
  .btn-light:hover {
    background-color: #f0f0f0; }

.btn-secondary {
  color: #111;
  background: #82a09f; }
  .btn-secondary:hover {
    background-color: #719392; }

.btn-secondary.btn-outline {
  background-color: #fff;
  color: #3b4e4d;
  border: 1px solid #82a09f; }
  .btn-secondary.btn-outline:hover {
    background-color: whitesmoke; }

.btn-accent {
  color: #eee;
  background: #a56838; }
  .btn-accent:hover {
    background-color: #bc7640; }

.btn-accent.btn-outline {
  background-color: #fff;
  color: #332011;
  border: 1px solid #a56838; }
  .btn-accent.btn-outline:hover {
    background-color: whitesmoke; }

.btn-raise:hover {
  box-shadow: 0 5px 5px -5px #111; }

.btn-rounded {
  border-radius: 16px; }

/* NAVIGATION */
nav {
  background-color: #c0ad67; }
  nav img.logo {
    font-size: 20px; }
  nav :not(img).logo {
    line-height: 30px;
    font-size: 20px; }
  nav .navigation {
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    padding-right: 8px;
    padding-left: 8px;
    z-index: 1000; }
    nav .navigation .dropdown {
      position: relative;
      display: inline-block;
      margin-left: 16px;
      z-index: 1; }
      nav .navigation .dropdown .dropdown-title {
        text-transform: uppercase;
        font-size: 1rem;
        display: inline-block;
        padding: 8px;
        color: #111;
        background-color: #c0ad67;
        padding-left: 0px;
        cursor: pointer; }
        nav .navigation .dropdown .dropdown-title:hover {
          color: #2b2b2b; }
        nav .navigation .dropdown .dropdown-title i {
          border: solid black;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          margin-bottom: 3px;
          margin-left: 8px; }
      nav .navigation .dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #a56838;
        min-width: 120px;
        transition-duration: 0.3s;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-top: 0px; }
        nav .navigation .dropdown .dropdown-content a {
          list-style-type: none;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          color: #eee;
          margin-left: 0px;
          text-align: left;
          text-transform: initial; }
        nav .navigation .dropdown .dropdown-content a:hover {
          background-color: #965e33; }
        nav .navigation .dropdown .dropdown-content a:last-child {
          margin-right: 0px; }
      nav .navigation .dropdown:hover .dropdown-content {
        display: block; }
    nav .navigation a:link {
      all: unset;
      text-transform: uppercase;
      margin-left: 8px;
      font-size: 1rem;
      color: #111;
      display: inline-block;
      padding: 8px; }
    nav .navigation a:visited {
      color: #111; }
    nav .navigation a:hover {
      cursor: pointer;
      color: #2b2b2b; }
    nav .navigation a:first-child {
      margin-left: 0px; }
    nav .navigation a:last-child {
      margin-right: 16px; }
  nav .navbar-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #c0ad67;
    width: 100%; }
    nav .navbar-fixed a:last-child {
      padding-right: 8px; }
    nav .navbar-fixed span:last-child {
      padding-right: 16px; }

/* TABLES */
table {
  margin: 8px 0px; }
  table.wrapped {
    border: 1px solid #aaa; }
  table.cells td, table.cells th {
    border: 1px solid #aaa; }
  table.open {
    border: none; }
  table.separated td, table.separated th {
    border-bottom: 1px solid #aaa; }
  table td, table th {
    padding: 8px; }
  table th {
    background: #a56838;
    color: #eee; }
  table.striped tr:nth-child(odd) {
    background-color: #e8dec3;
    color: #111; }
  table.highlight tr:nth-child(odd):hover {
    background-color: #ebe2ca; }
  table.highlight tr:nth-child(even):hover {
    background-color: #ebe2ca; }

/* FORM INPUTS */
label {
  display: block;
  margin-bottom: 4px;
  font-weight: 600; }
  label.inline {
    display: inline-block;
    margin-right: 4px;
    font-weight: 600; }

input {
  padding: 6px 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #aaa;
  background: #f3eee0;
  color: #111;
  min-width: 100px;
  max-width: 200px;
  width: auto; }

textarea {
  padding: 6px 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #aaa;
  min-height: 50px;
  max-width: 90%;
  background: #f3eee0;
  color: #111; }

select {
  padding: 4px 0px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: #f3eee0;
  color: #111;
  max-width: 90%; }

/*Prefix and suffix from: https://codepen.io/chamsi/pen/LavooJ*/
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #111;
  text-align: center;
  background-color: #e9e0c6;
  border: 1px solid #ccc;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }
  .input-group input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    margin: 0; }

.suffix input {
  border-radius: 4px 0px 0px 4px; }

.suffix .input-group-addon {
  border-left: 0;
  border-radius: 0px 4px 4px 0px; }

.prefix input {
  border-radius: 0px 4px 4px 0px; }

.prefix .input-group-addon {
  border-right: 0;
  border-radius: 4px 0px 0px 4px; }

.presuffix input {
  border-radius: 0px; }

.input-group-addon.prefix {
  border-radius: 4px 0px 0px 4px;
  border-right: 0; }

.input-group-addon.suffix {
  border-radius: 0px 4px 4px 0px;
  border-left: 0; }

/* RADIO BUTTONS AND CHECKBOXES - DERIVED FROM W3CSS */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio */
label.cover {
  font-weight: 400; }

.cover {
  display: block;
  position: relative;
  padding-left: 1.575rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.05rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default radio button */
.cover input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom radio button */
.dot {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.05rem;
  width: 1.05rem;
  background-color: #ddd;
  border-radius: 50%; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.05rem;
  width: 1.05rem;
  background-color: #ddd; }

/* On mouse-over, add a grey background color */
.cover:hover input ~ .dot, .cover:hover input ~ .checkmark {
  background-color: #d3c08b; }

/* When the radio button is checked, add a blue background */
.cover input:checked ~ .dot, .cover input:checked ~ .checkmark {
  background-color: #82a09f; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.dot:after, .checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition-duration: 0.2s; }

/* Show the indicator (dot/circle) when checked */
.cover input:checked ~ .dot:after, .cover input:checked ~ .checkmark:after {
  opacity: 1; }

.cover .checkmark:after {
  left: 0.328125rem;
  top: 0.15rem;
  width: 0.2625rem;
  height: 0.525rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* Style the indicator (dot/circle) */
.cover .dot:after {
  top: 6px;
  left: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #82a09f; }

/** UTILITY **/
.left {
  float: left; }

.right {
  float: right; }

.right-align {
  text-align: right; }

.left-align {
  text-align: left; }

.center {
  text-align: center;
  vertical-align: middle; }

.responsive {
  overflow-x: auto; }

.border {
  border: 1px solid #aaa; }

.no-border {
  border: none; }

.small-radius {
  border-radius: 4px; }

.large-radius {
  border-radius: 16px; }

.clearfix::after {
  content: '';
  clear: both;
  display: table; }

.inline {
  display: inline-block; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.transparent {
  background-color: unset; }

.primary {
  background-color: #c0ad67; }

.secondary {
  background-color: #82a09f; }

.accent {
  background-color: #a56838; }

.primary-text {
  color: #c0ad67; }

.secondary-text {
  color: #82a09f; }

.accent-text {
  color: #a56838; }

@media (min-width: 600px) {
  .only-phone {
    display: none; } }

@media (max-width: 599px) {
  .from-tablet-portrait {
    display: none; } }

@media (min-width: 900px) {
  .below-tablet-landscape {
    display: none; } }

@media (max-width: 899px) {
  .from-tablet-landscape {
    display: none; } }

@media (min-width: 1440px) {
  .below-desktop {
    display: none; } }

@media (max-width: 1439px) {
  .from-desktop {
    display: none; } }

@media (min-width: 1800px) {
  .below-desktop-large {
    display: none; } }

@media (max-width: 1799px) {
  .from-desktop-large {
    display: none; } }

/* LISTS */
ul {
  list-style-type: disc;
  font-size: 1.05rem;
  line-height: 1.3rem; }

ol {
  list-style-type: decimal;
  font-size: 1.05rem;
  line-height: 1.3rem; }

ol > ul, ul > ol, ol > ol, ul > ul {
  margin-left: 16px; }

ul ul > li, ol ul > li {
  list-style-type: circle;
  font-size: 0.9rem; }

ol ol > li, ul ol > li {
  list-style-type: lower-alpha;
  font-size: 1rem; }

/** CARD **/
.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 #e1d4b0;
  padding: 8px;
  background-color: #f2ecdc; }

.box {
  border: 1px solid #ccc;
  padding: 8px; }

.hoverable:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 #00000030; }

/* JS-BASED COMPONENTS */
.sidenav {
  background: #c7b779;
  position: fixed;
  padding: 24px;
  opacity: 0;
  transition-duration: 0.25s;
  height: 100%;
  color: #111; }
  .sidenav a {
    color: #111;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 3.5rem;
    display: block;
    font-weight: 300; }
    .sidenav a:hover {
      color: #2b2b2b; }

.sidenav.active {
  opacity: 1; }

.sidenav.plain {
  width: 100%;
  display: none;
  top: 0;
  left: 0; }

.sidenav.drop {
  width: 100%;
  transform: translate(0%, -100%);
  top: 0;
  left: 0; }

.sidenav.slide-left {
  width: 100%;
  transform: translate(-100%, 0%);
  top: 0;
  left: 0; }

.sidenav.slide-right {
  width: 100%;
  transform: translate(100%, 0%);
  top: 0;
  right: 0; }

.sidenav.rise {
  width: 100%;
  transform: translate(0%, 100%);
  bottom: 0;
  right: 0; }

.sidenav.active.plain {
  display: block;
  z-index: 1000; }

.sidenav.active.drop {
  height: 100%;
  z-index: 1000;
  transform: translate(0%, 0%); }

.sidenav.active.rise {
  height: 100%;
  z-index: 1000;
  transform: translate(0%, 0%); }

.sidenav.active.slide-left {
  height: 100%;
  z-index: 1000;
  transform: translate(0%, 0%); }

.sidenav.active.slide-right {
  height: 100%;
  z-index: 1000;
  transform: translate(0%, 0%); }

.close-trigger {
  margin: 16px; }

/* PROJECT-SPECIFIC FILES */
code-viewer.btn {
  background-color: #111 !important;
  color: #fff !important; }

#card-demo {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px; }

.input-group {
  width: 150px; }

#form-block {
  display: grid;
  grid-template-rows: auto 70px auto 70px auto 70px;
  grid-template-columns: minmax(60vw, auto);
  row-gap: 8px; }

#list-block {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr; }

.pad-8 {
  padding: 8px; }

.mtop-60 {
  margin-top: 60px; }

.grid .column, .grid .columns {
  padding: 8px 0px;
  background: #ddd;
  margin-bottom: 0.5rem;
  color: #222;
  text-align: center;
  border-radius: 4px; }

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px; }
  i.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }

section {
  margin-bottom: 24px; }

.space {
  margin-top: 8px; }

.space-medium {
  margin-top: 16px; }

.space-large {
  margin-top: 24px; }

.menu-icon {
  width: 35px;
  height: 3px;
  background-color: #111;
  margin: 7px 0; }

.tiny {
  font-size: 14px;
  vertical-align: middle;
  background-color: #daca9e;
  color: #111;
  border: none; }
  .tiny:hover {
    background-color: #d3c08b; }

pre {
  padding: 0px; }

code {
  padding: 12px !important; }

/*# sourceMappingURL=output.css.map */
