* {
    outline-color: $color-accent;
}

html * {
    font-family: $base-font;
}

html, body, section, menu, summary, footer, header, article, aside, details{
    color: $color-base-text;
    background-color: $color-base;
}

a{
    text-decoration: none;
    &:link, &:visited{
        color: $color-link;
    }

    &:link:hover, &:visited:hover{
        color: darken($color-link, 10%);
    }
}