button {
    all: unset;
    cursor: pointer;
}

.btn{
    &:hover{

    }
}

.btn-small{
    &:hover{

    }
}

.btn-large{
    &:hover{

    }
}

.btn-default{
    &:hover{

    }
}

.btn-outline{
    &:hover{

    }
}

.btn-float{
    &:hover{

    }
}
.btn-raise{
    &:hover{

    }
}

.btn-rounded{
    &:hover{

    }
}

.btn-light{
    &:hover{

    }
}

.btn-dark{
    &:hover{

    }
}

.btn-secondary{
    &:hover{

    }
}

.btn-accent{
    &:hover{

    }
}

.btn-circle{
    &:hover{

    }
}

.btn-disabled{
    cursor: not-allowed;
}

.btn-group{

    .btn{

    }

}