/** UTILITY and HELPERS **/

.left{ float: left; }

.right{ float: right; }

.right-align{ text-align: right; }

.left-align{ text-align: left; }

.center{ text-align: center; vertical-align: middle; }

.responsive{ overflow-x: auto; }

.clearfix{ @include clearfix; }

.inline-block {display: inline-block; }

.transparent {background-color: transparent;}

/* EXTRA UTILITY CLASSES */
.display-block{
    display: block;
}
.display-none{
    display: none;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
.rounded{
    border-radius: 4px;
}
.rounded-large{
    border-radius: 24px;
}
.border{
    border: 1px solid #999;
}
.no-border{
    border: none !important;
}
.no-padding{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.text-justify{
    text-align: justify;
    text-justify: inter-word;
}
.break-all{
    word-break: break-all;
}
.break-word{
    word-wrap: break-word;
}
.tooltip{

}
.hoverable{
    &:hover{ 

    }
}
.shadow{

}
.no-shadow{
    box-shadow: none !important;
}
.depth-1{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.depth-2{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.depth-3{
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.depth-4{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}
.depth-5{
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

/* HELPER COLOR CLASSES */
.primary {background-color: $color-primary;}
.secondary {background-color: $color-secondary;}
.accent {background-color: $color-accent;}
.primary-text {color: $color-primary-text;}
.secondary-text {color: $color-secondary-text;}
.accent-text {color: $color-accent-text;}

.success{ // background-color: ;
}
.success-text{ // color: ;
}
.danger{ // background-color: ;
}
.danger-text{ // color: ;
}
.info{ // background-color: ;
}
.info-text{ // color: ;
}
.warning{ // background-color: ;
}
.warning-text{ // color: ;
}