img.img-responsive{
    max-width: 100%;
    height: auto;
}

video.video-responsive{
    max-width: 100%;
    height: auto;
}

.img-circle{
    border-radius: 50%;
}

.img-thumbnail{
    max-height: 150px;
    max-width: 150px;
    display: inline-block;
    margin: 8px;
}