$color-primary: rgb(246, 246, 246);
$color-secondary: rgb(0, 177, 97);
$color-accent: rgb(0, 177, 97);
$color-base: #fff;

$color-primary-text: rgb(10, 8, 8);
$color-secondary-text: #fff;
$color-accent-text: #fff;
$color-base-text: #111;

$color-dark: #111;
$color-light: #eee;
$color-white: #fff;
$color-light-gray: #ccc;
$color-medium-gray: #aaa;
$color-light-grey: $color-light-gray;
$color-medium-grey: $color-light-gray;

$color-link: #006fcf;
$color-link-nav: #222;
$color-link-nav-light: $color-light;