$color-primary: rgb(7, 7, 7);
$color-secondary: rgb(228, 205, 1);
$color-accent: rgb(29, 29, 29);
$color-base: #111;

$color-primary-text: #eee;
$color-secondary-text: #111;
$color-accent-text: #eee;
$color-base-text: #eee;

$color-dark: #111;
$color-light: #eee;
$color-white: #fff;
$color-light-gray: #ccc;
$color-medium-gray: #aaa;
$color-light-grey: $color-light-gray;
$color-medium-grey: $color-light-gray;

$color-link: #b3dbff;
$color-link-nav: #eee;
$color-link-nav-light: $color-light;