$color-primary: rgb(67, 136, 163);
$color-secondary: #00b161;
$color-accent: #576785;
$color-base: #FAF8F7;

$color-primary-text: #eee;
$color-secondary-text: #fff;
$color-accent-text: #fff;
$color-base-text: #111;

$color-dark: #111;
$color-light: #eee;
$color-white: #fff;
$color-light-gray: #ccc;
$color-medium-gray: #aaa;
$color-light-grey: $color-light-gray;
$color-medium-grey: $color-light-gray;

$color-link: #006fcf;
$color-link-nav: #eee;
$color-link-nav-light: $color-light;