$color-primary: rgb(0, 33, 95);
$color-secondary: rgb(119, 0, 79);
$color-accent: rgb(0, 21, 59);
$color-base: #fff;

$color-primary-text: #eee;
$color-secondary-text: $color-primary-text;
$color-accent-text: #eee;
$color-base-text: #111;

$color-dark: #111;
$color-light: #eee;
$color-white: #fff;
$color-light-gray: #ccc;
$color-medium-gray: #aaa;
$color-light-grey: $color-light-gray;
$color-medium-grey: $color-light-gray;

$color-link: #006fcf;
$color-link-nav: #eee;
$color-link-nav-light: $color-light;